{{!-- styling inside page, I know not good practice but couldnt get other ways to work --}}
<style type="text/css">
   body { background:url('https://cdn.nba.net/nba-drupal-prod/styles/landscape_1045w/s3/2018-08/leaguev3.jpeg?itok=b1Ef6wg9') !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
{{!-- test section for my cards --}}

{{#each logoHBS}}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{coach}}</p>
    <a href="/{{_id}}" class="btn btn-primary">Team Page</a>
  </div>
</div>

{{/each}}


</div>

