{{!-- styling inside page, I know not good practice but couldnt get other ways to work --}}
<style type="text/css">
   body { background:url('https://cdn.nba.net/nba-drupal-prod/styles/landscape_1045w/s3/2018-08/leaguev3.jpeg?itok=b1Ef6wg9') !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
{{!-- test section for my cards --}}


{{#each lakersHBS}}


    <div class="card d-md-inline-flex d-flex align-items-center mt-5 ml-5 bg-dark" style="width: 18rem;">
    
  <img class="card-img-top" src="{{img}}" alt="Card image cap">

  <div class="card-body text-white">
    <h5 class="card-title text-center rounded font-weight-bold">{{name}}</h5>
    <p class="card-text text-center rounded font-weight-bold">{{number}}</p>
  </div>
  <ul class="list-group list-group-flush text-white bg-dark">
    <li class="list-group-item bg-dark text-center border border-dark rounded font-weight-bold">{{team}}</li>
  
    
  </ul>

</div>

{{/each}}