
{{!-- test section for my cards --}}

{{#each logoHBS}}

<div class="d-flex flex-row justify-content-between">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{coach}}, {{bestPlayer}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>


{{/each}}
